html, body { 
    height: 100%;
    overflow: hidden;
}

.wrapper { 
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.canvas { 
    width: 500px;
    height: 250px;
}