$primary-color: #274C5B;
$accent-color: #7EB693;
$button-color: #EFD372;
$background-color: #D4D4D4;


$primary-font-family: "Open Sans";
$secondary-font-family: "Roboto";
$accent-font-family: "Yellowtail", italic;


$base-font-size: 16px;
$link-font-size: 20px;
$button-font-size: 20px;


$container-max-width: 1400px;
$container-padding: 5px 15px;
$block-margin: 20px;